{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login Page - AUTHENTICATION</title>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body class="bg-img" style="background: url({% static 'images/bg.jpg' %})">
  <div class="container mt-md-5">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9 position-relative">

        <div class="card o-hidden border-0 shadow-lg  my-5 mx-3 " style="border-radius: 10px;">
          <div class="card-body px-lg-4 mb-4  " style="border-radius: 10px;">
            <!-- Nested Row within Card Body -->

                  <div class="text-center">
                    <h4 class="text-gray-900 mb-4 login-heading"><img src="{% static 'images/icon.jpg' %}" class="img-fluid img-rounded"></h4>
                  </div>
                  <form class="user px-2 " id="userloginform" method="POST" action="{% url 'login' %}">
                    <div class="form-group">
                      <input type="text" name="userID" class="form-control form-control-user" id="userid"  placeholder="Enter User ID.." >

                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-user" id="userPassword" placeholder="Password" >

                    </div>

                    <button type="submit"  class="btn btn-info btn-user btn-block ">
                      Login
                    </button>
                    <p class="form-result font-text-bold">
                        {% if data %}
                            {{ data.one }}
                        {% endif %}
                    </p>

                  </form>


          </div>
        </div>

      </div>

    </div>

  </div>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="{% static 'script.js' %}"></script>
</body>

</html>
